/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}


a {
  text-decoration: none;
  color: white;
}

span {
  font-size: 26px;
}

.separator{
  --b: 6px;   /* controla lo spessore del bordo */
  --w: 80px;  /* controlla la larghezza della linea*/
  --g: 15px;  /* controlla il gap */
  --c: white;
 
  width: fit-content;
  padding: 0 10px;
  border-image: 
     linear-gradient(
       #0000      calc(50% - var(--b)/2),
       var(--c) 0 calc(50% + var(--b)/2),
       #0000    0) 
    1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
}

/* Regole header */

#header_nav {
  background-color: black;
}

#burger_menu {
  display: block;
}

#menu {
  display: none;
}
#menu a {
  padding: 15px;
}

#menu a:hover {
  text-decoration: underline;
}

/* Regole jumbotrone */

#jumbotrone {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: green;
}

#profile_image {
  width: 200px;
  margin: 0px auto 10px;
  padding-top: 10px;
}

#profile_image img {
  width: 100%;
  border-radius: 50%;
}

#jumbotrone h2 {
  margin-bottom: 10px;
}

#jumbotrone .fa-star {
  color: white;
}

#jumbotrone span {
  display: block;
  padding-bottom: 10px;
}

/* Regole main */

/* Regole portfolio */

#portfolio {
  padding: 20px 0;
  color: black;
  text-align: center;
}

/* Regole lavori */

#portfolio .separator{
  color: black;
  --c: black; 
}

#portfolio img {
  width: 100%;
}

/* Regole about me */

#about_me {
  background-color: rgb(26, 188, 156);
  text-align: center;
  padding: 15px;
}

#about_me p {
  text-align: left;
}

#about_me button {
  background-color: transparent;
  padding: 5px;
  color: white;
  border-color: white;
  border-radius: 5px;
  margin: 10px 0;
}

/* Regole contact me */

#contact_me {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  color: black;
}

#contact_me .separator {
  --c: black;
}

#contact_me #form {
  text-align: left; 
  color: black;
}

#contact_me #form strong {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#contact_me #form #message {
  padding-bottom: 100px;
  margin-bottom: 10px;
}

#contact_me #form button {
  background-color: rgb(26, 188, 156);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: none;
}

/* Regole footer */

footer {
  text-align: center;
}

#infos {
  background-color: rgb(58, 84, 109);
  padding: 10px 0;
}

#infos span {
  padding: 12px;
  border: 1px solid white;
  border-radius: 50%;
}

.fa-facebook-f {
  padding: 8px;
}

.fa-linkedin-in {
  padding: 6px;
}

#infos #social h3 {
  padding-bottom: 10px;
}

#infos bold a {
  color: green;
}

#copyrights {
  background-color: black;
  padding: 35px;

}

@media screen and (min-width:935px) {

  #burger_menu {
    display: none;
  }
  
  #menu {
    display: block;
  }
}





