/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}


a {
  text-decoration: none;
  color: white;
}


/* Regole header */

#menu {
  display: none;
}

/* Regole jumbotrone */

#jumbotrone {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: green;
}

#profile_image {
  width: 200px;
  margin: 10px auto;
}

#profile_image img {
  width: 100%;
  border-radius: 50%;
}

#jumbotrone h2 {
  margin-bottom: 10px;
}

#jumbotrone span {
  display: block;
  padding-bottom: 10px;
}

/* Regole main */

/* Regole portfolio */

#portfolio {
  padding: 20px 0;
  color: black;
  text-align: center;
  background-color: aqua;
}

/* Regole lavori */

.work {
  width: 90%;
  margin: 20px auto;
}

.work img {
  width: 100%;
}

/* Regole about me */

#about_me {
  background-color: green;
  text-align: center;
  padding: 15px;
}

#about_me .separetor {
  display: block;
  margin-bottom: 15px;
}

#about_me #description {
  width: 80%;
  margin: 0 auto;
}

#about_me #description p{
  padding-bottom: 30px;
  text-align: left;
}

/* Regole contact me */

#contact_me {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

#contact_me #form {
  width: 40%;
  margin: 10px auto;
  text-align: left;
}

#contact_me #form strong {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#contact_me #form #message {
  padding-bottom: 100px;
  margin-bottom: 10px;
}

/* Regole footer */

footer {
  text-align: center;
}

#infos {
  background-color: red;
  padding: 30px;
}

#infos #social{
  margin: 30px 0;
}

#copyrights {
  background-color: black;
  padding: 35px;
}



/* Regole responsive  */

/* Regole s */

@media screen and (min-width:524px) {
  #buger_menu {
    display: none;
  }

  #menu {
    display: block;
  }

  .work {
    width: 45%;
    margin: 5px auto;
  }

  #description {
    display: flex;
  }

  #description p {
    width: 50%;
    margin-left: 15px;
  }

  #contact_me #form {
    width: 60%;
  }

}

/* Regole md */

@media screen and (min-width:1121px) {

  footer #infos {
    display: flex;
  }

  footer #infos #social {
    margin: 0;
  }

  .work {
    width: 30%;
  }

  #contact_me #form {
    width: 80%;
  }

}

/* Regole lg */

@media screen and (min-width:1360px) {

  .work {
    width: 30%;
  }
}

/* DEBUG */

.container {
  background-color: violet;
}

[class*="col"] {
  /* background-color: green; */
  /* border: 1px solid black; */
}

#header_nav {
  /* height: 100px; */
  background-color: black;
}

